<div class="row content-panel" ng-if="task.name.length > 0">
    <div class="col-md-8">
        <h2 class="h3 nospace">{{task.name}} [{{task.task_status.name}}]</h2>
        <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
        <ul class="list-inline">
            <li><a href="#"><i class="fa fa-comments-o"></i> Add Comment</a>
            </li>
            <li><a href="#"><i class="fa fa-pencil-square-o"></i> Edit Details</a>
            </li>
        </ul>
        <div class="description" ng-bind-html="task.description | unsafe"></div>

        <p>
            <a class="btn btn-primary btn-xs" href="#">Add Comment</a>
        </p>
        <table ng-show="task.task_comments.length > 0" class="table table-responsive table-striped">
            <tr>
                <th>Action</th>
                <th>Comment</th>
                <th>Created At</th>
            </tr>
            <tr ng-repeat="comment in task.task_comments">
                <td class="col-xs-1"><a href="#" ng-click="deleteTaskComment(comment);  $event.preventDefault(); $event.stopPropagation();"><i class="fa fa-minus-circle redicon"></i></a> <i class="fa fa-pencil-square-o"></i></td>
                <td class="comments col-xs-8">
                    <attachments-list attachments="comment.attachments"></attachments-list>
                    <div class="description" ng-show="comment.description" ng-bind-html="comment.description | unsafe"></div>
                    <ul class="fa-ul nospace">
                        <li ng-show="comment.task_status"><i class="fa fa-angle-double-right"></i> Status: {{comment.task_status.name}}</li>
                        <li ng-show="comment.task_priority"> <i class="fa fa-angle-double-right"></i> Priority: {{comment.task_priority.name}}</li>
                        <li ng-show="comment.due_date"><i class="fa fa-angle-double-right"></i> Priority: {{comment.due_date | amDateFormat:'MMMM DD, YYYY'}}</li>
                    </ul>
                </td>
                <td class="col-xs-2">{{comment.created | amDateFormat:'MMMM DD, YYYY'}}<br /> {{comment.created | amDateFormat:'h:mm a'}}<br />
                    <a href="mailto:{{comment.user.email}}">{{comment.user.full_name}}</a>

            </tr>
        </table>
    </div>


    <div class="col-md-4">
        <div class="panel panel-info">
            <div class="panel-heading" ng-show="task.ticket">
                <h2 class="h4 nospace">Related Tasks</h2></div>
            <div class="panel-body" ng-show="task.ticket">
                <table class="table table-responsive">
                    <tr>
                        <td><a href="#/projects/{{task.project_id}}/tickets/{{task.ticket.id}}">{{task.ticket.name}}</a> [{{task.ticket.ticket_status.name}}]</td>
                        <td class="text-right"> <a href="#" ng-click="deleteTicket(task.ticket.id);  $event.preventDefault(); $event.stopPropagation();"><i class="fa fa-minus-circle redicon"></i></td>
        </tr>
        </table>
        </div>
        
        <div class="panel-heading"><h2 class="h4 nospace">Details</h2></div>
        <div class="panel-body">
        <table class="table table-condensed">

            <tr>
                <th>ID</th>
                <td>{{task.id}}</td>
            </tr>

            <tr ng-show="task.task_label">
                <th>Label</th>
                <td>{{task.task_label.name}}</td>
            </tr>

            <tr ng-show="task.task_status">
                <th>Status</th>
                <td>{{task.task_status.name}}</td>
            </tr>

            <tr ng-show="task.task_type">
                <th>Type</th>
                <td>{{task.task_type.name}}</td>
            </tr>

            <tr ng-show="task.task_group">
                <th>Group</th>
                <td>{{task.task_group.name}}</td>
            </tr>

            <tr ng-show="task.project_phase">
                <th>Phase</th>
                <td>{{task.project_phase.name}}</td>
            </tr>

            <tr>
                <th>Estimated Time</th>
                <td>{{task.estimated_time}}</td>
            </tr>

            <tr>
                <th>Start Date</th>
                <td>{{task.start_date | amDateFormat:'LL' }}</td>
            </tr>

            <tr>
                <th>Due Date</th>
                <td>{{task.due_date | amDateFormat:'LL' }}</td>
            </tr>

            <tr>
                <th>Created At</th>
                <td>{{task.created | amDateFormat:'LL' }}</td>
            </tr>
        </table>
        </div>
        
        <div class="panel-heading"><h2 class="h4 nospace">Assigned To</h2></div>
        <div class="panel-body">
			<user-list users="task.assigned_to"></user-list>
		</div>
		<div class="panel-heading"><h2 class="h4 nospace">Created By</h2></div>
		<div class="panel-body">
        <ul class="list-unstyled">
            <li><a href="mailto:{{task.creator.email}}">{{task.creator.full_name}}</a>
                            </li>
                            </ul>
            </div>
        </div>
    </div>
</div>
</div>