<div class="row nospace" ng-if="task.name.length > 0">
    <div class="col-md-8">
        <h2 class="h3 nospace">{{task.name}} [{{task.task_status.name}}]</h2>
        <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
        <ul class="list-inline">
            <li><a href="#"><i class="fa fa-comments-o"></i> Add Comment</a>
            </li>
            <li><a href="#"><i class="fa fa-pencil-square-o"></i> Edit Details</a>
            </li>
        </ul>
        <div ng-bind-html="task.description | unsafe"></div>

        <table ng-show="task.task_comments.length > 0" class="table table-responsive table-striped">
        <tr><th>Action</th><th>Comment</th><th>Created At</th></tr>
        <tr ng-repeat="comment in task.task_comments" >
        <td class="col-xs-1"><a href="#" ng-click="deleteTaskComment(comment);  $event.preventDefault(); $event.stopPropagation();"><i class="fa fa-minus-circle redicon"></i></a> <i class="fa fa-pencil-square-o"></i></td>
        <td class="comments col-xs-8">
        <div class="attachments" ng-show="comment.attachments.length > 0">
        Attachments:
        <ul class="fa-ul nospace">
        <li ng-repeat="file in comment.attachments">
            <a href="#">{{file.file}}</a> <a href="#"><i class="fa fa-search"></i> view</a> <a href="#"><i class="fa fa-download"></i> download</a>
        </li>
        </ul>
        </div>
        <div class="description" ng-show="comment.description" ng-bind-html="comment.description | unsafe"></div>
        <ul class="fa-ul nospace">
            <li ng-show="comment.task_status"><i class="fa fa-angle-double-right"></i> Status: {{comment.task_status.name}}</li>
            <li ng-show="comment.task_priority"> <i class="fa fa-angle-double-right"></i> Priority: {{comment.task_priority.name}}</li>
            <li ng-show="comment.due_date"><i class="fa fa-angle-double-right"></i> Priority: {{comment.due_date | amDateFormat:'MMMM DD, YYYY'}}</li>
        </ul>
        </td>
        <td class="col-xs-2">{{comment.created | amDateFormat:'MMMM DD, YYYY'}}<br />
        {{comment.created  | amDateFormat:'h:mm a'}}<br />
        <a href="mailto:{{comment.user.email}}">{{comment.user.full_name}}</a>
        
        	</tr>
        </table>
    </div>
    
    
    <div class="col-md-4 bg-info">
        <h3 class="nospace">Details</h3>
        <table class="table table-condensed">

            <tr>
                <th>ID</th>
                <td>{{task.id}}</td>
            </tr>

            <tr ng-show="task.task_label">
                <th>Label</th>
                <td>{{task.task_label.name}}</td>
            </tr>

            <tr ng-show="task.task_status">
                <th>Status</th>
                <td>{{task.task_status.name}}</td>
            </tr>

            <tr ng-show="task.task_type">
                <th>Type</th>
                <td>{{task.task_type.name}}</td>
            </tr>

            <tr ng-show="task.task_group">
                <th>Group</th>
                <td>{{task.task_group.name}}</td>
            </tr>

            <tr ng-show="task.project_phase">
                <th>Phase</th>
                <td>{{task.project_phase.name}}</td>
            </tr>

            <tr>
                <th>Estimated Time</th>
                <td>{{task.estimated_time}}</td>
            </tr>

            <tr>
                <th>Start Date</th>
                <td>{{task.start_date | amDateFormat:'LL' }}</td>
            </tr>

            <tr>
                <th>Due Date</th>
                <td>{{task.due_date | amDateFormat:'LL' }}</td>
            </tr>

            <tr>
                <th>Created At</th>
                <td>{{task.created | amDateFormat:'LL' }}</td>
            </tr>
        </table>

        <h4 class="nospace">Assigned To</h3>
			<ul class="list-unstyled">
			<li ng-repeat="user in task.assigned_to"><a href="mailto:{{user.email}}">{{user.full_name}}</a></li>
			</ul>
			<h4>Created By</h4>
        <ul class="list-unstyled">
            <li><a href="mailto:{{task.creator.email}}">{{task.creator.full_name}}</a>
            </li>
        </ul>
    </div>
</div>
