<h1>{{project.name}}</h1>
<ul class="list-inline">
	<li><strong>Status: </strong> {{project.status.name}}</li>
	<li><strong>Type: </strong> {{project.type.name}}</li>
	<li><a href="#">More Info</a> </li>
	<li><a href="#">Edit Details</a></li>
</ul>
<div class="content-panel">
	<project-nav></project-nav>
	
			<h2 class="h3">Tasks</h2>
	<table class="table">
	<tr>
		<th></th>
		<th>Group</th>
		<th>Phase</th>
		<th class="col-md-3">Name</th>
		<th class="col-md-1">Status</th>  
		<th class="col-md-1">Type</th>
		<th class="col-md-2">Assigned To</th>
		<th>Est. Time</th>
		<th class="col-md-2">Due Date</th>
	</tr>
	
	
	<tr dir-paginate="task in project.tasks | itemsPerPage: 25 ">
		<td><span ng-show="!task.task_priority.icon">{{task.task_priority.name}}</span><img ng-show="task.task_priority.icon.length > 0" ng-cloak src="/img/icons/p/{{task.task_priority.icon}}" alt="{{task.task_priority.name}}"></td>
		<td>{{task.task_group.name}}</td>
		<td>{{task.project_phase.name}}</td>
		<td><a href="/#/projects/{{project.id}}/tasks/{{task.id}}">{{task.name}}</a></td>
		<td>{{task.task_status.name}}</td>  
		<td>{{task.task_type.name}}</td>
		<td><ul class="list-unstyled">
		<li ng-repeat="assigned in task.assigned_to">{{assigned.full_name}}</li>
		</ul></td>
		<td>{{task.estimated_time}}</td>
		<td>{{task.due_date  | amDateFormat:'LL'}}</td>
	</tr>
	</table>
	<dir-pagination-controls></dir-pagination-controls>