<div ng-controller="ProjectsCtrl">

<h1>{{project.name}}</h1>
<ul class="list-inline">
	<li><strong>Status: </strong> {{project.status.name}}</li>
	<li><strong>Type: </strong> {{project.type.name}}</li>
	<li><a href="#">More Info</a> </li>
	<li><a href="#">Edit Details</a></li>
</ul>
    <div class="content-panel">
		<nav class="navbar btn-info">
		  <ul class="nav navbar-nav">
		  <li><p class="navbar-text">Project Info</p></li>
		  <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tasks <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#" >Add Task</a></li>
            <li><a href="#" ng-click="selectView({'page':'tasks'});$event.stopPropagation(); $event.preventDefault();">View All</a></li>
            <li><a href="#">Add Task Group</a></li>
            <li><a href="#">View Groups</a></li>
          </ul>
        </li>
        
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tickets <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Add Tickets</a></li>
            <li><a href="#">View All</a></li>
          </ul>
        </li>
        
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Discusions <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Add Discusion</a></li>
            <li><a href="#">View All</a></li>
          </ul>
        </li>
        
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Versions <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Add Versions</a></li>
            <li><a href="#">View All</a></li>
          </ul>
        </li>
        
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Phases <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Add Phases</a></li>
            <li><a href="#">View All</a></li>
          </ul>
        </li>
        
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Reports <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Time Report</a></li>
            <li><a href="#">Gantt Chart</a></li>
          </ul>
        </li>
		  </ul>
		</nav>
		
		<div ng-show="view.page=='tasks'">
		<h2 class="h3">Tasks</h2>
		<table class="table">
		<tr>
			<th></th>
			<th>Group</th>
			<th>Phase</th>
			<th class="col-md-3">Name</th>
			<th class="col-md-1">Status</th>  
			<th class="col-md-1">Type</th>
			<th class="col-md-2">Assigned To</th>
			<th>Est. Time</th>
			<th class="col-md-2">Due Date</th>
		</tr>
		
		
		<tr dir-paginate="task in project.tasks | itemsPerPage: 25 ">
			<td><span ng-show="!task.task_priority.icon">{{task.task_priority.name}}</span><img ng-show="task.task_priority.icon.length > 0" ng-cloak src="/img/icons/p/{{task.task_priority.icon}}" alt="{{task.task_priority.name}}"></td>
			<td>{{task.task_group.name}}</td>
			<td>{{task.project_phase.name}}</td>
			<td><a href="#" ng-click="selectView({'page':'task', 'id':task.id});$event.stopPropagation(); $event.preventDefault();">{{task.name}}</a></td>
			<td>{{task.task_status.name}}</td>  
			<td>{{task.task_type.name}}</td>
			<td><ul class="list-unstyled">
			<li ng-repeat="assigned in task.assigned_to">{{assigned.full_name}}</li>
			</ul></td>
			<td>{{task.estimated_time}}</td>
			<td>{{task.due_date  | amDateFormat:'LL'}}</td>
		</tr>
		</table>
		<dir-pagination-controls></dir-pagination-controls>
		</div>
		
		
		<div ng-show="view.page=='task'">
			<task task="task"></task>
		</div>
    </div>
</div>