<form name="newTicket">
    <uib-tabset active="active">
        <uib-tab index="0" heading="General">
            <div class=" p-a-2">
            
                <!--  Ticket type -->
                <div class="form-group row">
                    <label for="ticket_type" class="col-sm-1 form-control-label">Type</label>
                    <div class="col-sm-11">
                        <select class="form-control" ng-model="ticket.ticket_type_id">
                     <option ng-repeat="type in types" ng-selected="$first" value="{{type.id}}">{{type.name}}</option>
                 </select>
                    </div>
                </div>
                
                <!--  Ticket Status -->
                <div class="form-group row">
                    <label for="ticket_status" class="col-sm-1 form-control-label">Status</label>
                    <div class="col-sm-11">
                        <select class="form-control" ng-model="ticket.ticket_status_id">
                     <option ng-repeat="status in statuses" ng-selected="ticket.ticket_status_id == status.id" value="{{status.id}}">{{status.name}}</option>
                 </select>
                    </div>
                </div>
                
                <!--  Ticket Name -->
                <div class="form-group row">
                    <label for="name" class="col-sm-1 form-control-label">Name</label>
                    <div class="col-sm-11">
                        <input ng-model="ticket.name" name="name" class="form-control">
                    </div>
                </div>
                
                <!--  Ticket Description -->
                <div class="form-group row">
                    <label for="description" class="col-sm-1 form-control-label">Description</label>
                    <div class="col-sm-11">
                        <textarea ui-tinymce="tinymceOptions" ng-model="ticket.description" name="description" class="form-control"></textarea>
                    </div>
                </div>
                
                <!--  Save Ticket -->
                <div class="form-group row">
                    <div class="col-sm-3">
                        <a href="#" ng-click="save(ticket); $event.stopPropagation(); $event.preventDefault();" class="btn btn-primary">Save Ticket</a>
                    </div>
                </div>
            </div>

        </uib-tab>

        <uib-tab index="2" heading="Attachments">
        </uib-tab>
    </uib-tabset>
</form>